<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AcessoAdministrativo</filter-name>
        <filter-class>AutorizacaoDeAcesso.AcessoAdministrativo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoAdministrativo</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AcessoLogado</filter-name>
        <filter-class>AutorizacaoDeAcesso.AcessoLogado</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoLogado</filter-name>
        <url-pattern>/principal.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ControleAcesso</servlet-name>
        <servlet-class>controle.ControleAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleUsuario</servlet-name>
        <servlet-class>controle.ControleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleProduto</servlet-name>
        <servlet-class>controle.ControleProduto</servlet-class>
    </servlet>
    <!-- <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>controle.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaProduto</servlet-name>
        <servlet-class>controle.BuscaQuadrinho</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>ControleCarrinho</servlet-name>
        <servlet-class>controle.ControleCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleNotificarPorEmail</servlet-name>
        <servlet-class>controle.ControleNotificarPorEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleEndereco</servlet-name>
        <servlet-class>controle.ControleEndereco</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleAcesso</servlet-name>
        <url-pattern>/ControleAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleUsuario</servlet-name>
        <url-pattern>/ControleUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleProduto</servlet-name>
        <url-pattern>/ControleProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleCarrinho</servlet-name>
        <url-pattern>/ControleCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleNotificarPorEmail</servlet-name>
        <url-pattern>/ControleNotificarPorEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleEndereco</servlet-name>
        <url-pattern>/ControleEndereco</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
